<<<<<<< HEAD
.alert-box{
   background: rgb(21, 21, 205); 
    color: rgb(222, 29, 29);
    padding: 20px;
    border-radius: 5px;
    display: none;  
}

/* margin -> border -> padding -> color -> background 순으로 배경 색 설정 */
=======
   
   
 .alert-box
 {  backgroiund: rgb(16, 16, 178);
    color: blue;
    padding: 20px;
    border-radius: 5px;
    display: none;        /* 화면 가리기*/

}
>>>>>>> 79ab0640720bce6165baf21c42ce8724858a20e5
